<h1>Acupuntura Tradicional</h1><br>

<p>La acupuntura es una terapia ampliamente utilizada en todo el mundo;
aunque su desarrollo inicial se sitúa en oriente hace más de dos mil
años, hoy en día está introducida en casi todos los sistemas sanitarios
de los países occidentales.

Es una medicina preventiva y terapéutica, que lleva intrínseca la
filosofía de llevar una vida ordenada y equilibrada. Siguiendo un
enfoque macroscópico de la salud y sus desórdenes, el diagnóstico
según la MTC se basa en observar a la persona globalmente, en todo
su contexto, ya que se considera que ningún fenómeno puede ser
evaluado de forma aislada. Al contrario que en la medicina convencional,
lo que se pretende es tratar más a la persona que a la enfermedad.</p>


<br><br>
<p>La organización mundial de Salud (OMS) reconoce desde 1979 que la
acupuntura es eficaz para el tratamiento de, al menos, 49 desórdenes
y condiciones, lista que se ha ampliado gracias a la investigación en
años posteriores. En el 2004, la OMS informó que ha sido demostrado la
eficacia de la acupuntura, tanto en experimentos de laboratorio como en
ensayos clínicos.</p>
<p>Entre las condiciones que se indican en los informes
figuran:</p><br><br>

<!-- <%=image_tag("sintomas.png", :class => "style_image6") %> -->
</table>
<table class="table ">

      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Artritis reumatoide</td>
        <td>Depresión</td>
        </tr>
        <tr>
          <td>Dolor de cabeza</td>
        <td>Nauseas y vomitos</td>
        </tr>
        <tr>
          <td>Dolor Lumbar</td>
        <td>Hipotensión y Hipertensión</td>
        </tr>
        <tr>
          <td>Dolor cervical/del cuello</td>
        <td>Dismenorrea</td>
        </tr>
        <tr>
          <td>Ciática</td>
        <td>Rinitis</td>
        </tr>
        <tr>
          <td>Esguince</td>
        <td>Patologías del sistema digestivo</td>
        </tr>
        <tr>
          <td>Codo de tenista</td>
        <td>Cólico renal</td>
        </tr>
        <tr>
          <td>Problemas del hombro</td>
        <td>Patologías de las vías respiratorias </td>
        </tr>
        <tr>
          <td></td>
        <td></td>
        </tr>
      <tbody>
</table>


<br>

<b><p>La acupuntura tiene excelentes resultados tratando desórdenes y dolores
de tipo muscular e articular, ya sean de carácter agudo o crónico</b>. También
tiene buenos resultados con ciertas condiciones como el insomnio, la
osteoartritis, la infertilidad femenina, la obesidad y las
alergias.</p>
