<h1>Acupuntura Estética</h1><br>

  <p>La acupuntura estética rejuvenecedor facial o el tratamiento anti age
  con acupuntura es una terapia segura,
  efectiva y milenaria diseñada para ayudar a que el organismo mejore
  la apariencia y se sienta más joven, mientras que se reducen los
  signos de envejecimiento. Este tratamiento promueve una apariencia
  más joven y vital dado que estimula la producción de
  colágeno y elastina
   natural, además de favorecer la circulación y mejorar la elasticidad de la dermis.
   La acupuntura estética surge de los principios y fundamentos de la medicina oriental.
   Al igual que en la acupuntura tradicional, la acupuntura cosmética implementa la
   diagnosis diferencial y el uso de agujas para mover o equilibrar el chi, la sangre,
   y los líquidos dentro del organismo, además de restaurar y mantener la harmonía global.</p>

<%= image_tag("face_points.jpg", :class => "style_image4") %>

  <h2>Beneficios</h2><br>
<p>
  •	Reduce las líneas finas de expresión y arrugas<br>
  •	Se disminuyen los poros abiertos<br>
  •	Reduce o elimina las bolsas <br>
  •	Levanta las mandíbulas flácidas<br>
  •	Suaviza signos de estrés en el rostro<br>
  •	Tonifica la piel y los músculos<br>
  •	Reduce la papada<br>
  •	Ilumina el cutis<br>
  •	Reduce hinchazón de la cara<br>
  •	Iguala el tono facial (demasiado rojizo o pálido)<br>
  •	Levanta y tonifica cejas caídas<br>
  •	La textura y la coloración mejoran visiblemente<br>
  •	La humectación de la piel mejora<br>
  •	Mejora el tono muscular y la contracción dérmica<br>
  •	Atenua arrugas existentes<br>
  •	Previene la aparición de nuevas arrugas<br>
</p>  <br>
  <p>Un informe de investigación (1996) publicado en el "International Journal
  of Clinical Acupuncture” informó que entre los 300 casos tratados
  con acupuntura facial y la acupuntura cosmética, 90% tienen resultados
  evidentes después de sólo un tratamiento.</p>
