<h1>Antes de la Consulta</h1>

<p>Una consulta individual te proporciona información detallada
acerca de como puedes manipular tu dieta y estilo de vida para
mejorar tu salud. Es educacional, motivacional y personalizado.</p>

<p>El numero de consultas varia según el individuo, sus metas de
salud, la complejidad del caso, y depende de la motivación
personal para implementar cambios en la dieta y estilo de
vida. La terapia nutricional no es un remedio ‘milagroso’.
Se trata de trabajar juntos par encontrar las raíces del
problema y corregirlo con la dieta y estilo de vida.
Dependiendo de tus objetivos de salud, este proceso puede
durar hasta 2 o 3 meses pero proporcionará las herramientas
para mantenerte con salud óptimo durante el resto de tu vida.</p>

<p>Antes de la cita tendrás que rellenar un
<%= link_to 'cuestionario', new_formulario_path %>, éste
incluye preguntas acerca de tu historial de salud, tu dieta
actual, medicamentos y estilo de vida. Habrá que entregarlo
24 horas antes de la cita</p>


<h2>Primera Consulta</h2>
<p>Aquí identificamos posibles desencadenantes y factores
  subyacentes los cuales podrían influir en tu salud. Tu
terapeuta elabora tu historial clínico, escucha tu historia,
te hace muchas preguntas y puede que te haga algunas
evaluaciones clínicas.</p>

<p>Utilizando tu historial clínico y otras evaluaciones clínicas
tu terapeuta explica sus recomendaciones y sugiere una
estrategia nutricional apropiada. El enfoque está en los
planes nutricionales; puede que incluya una receta de
suplementos (nutraceúticos) para corregir cualquier
desequilibrio nutricional. Además, en el caso que sea
necesario, ofrece recomendaciones para más pruebas como
análisis hormonal, pruebas de alergias, análisis de
heces/orina o pruebas genómicas.</p>

<p>La última parte de la consulta es una negociación entre
terapeuta y cliente sobre la mejor forma de implementar
las recomendaciones. Esto incluye la fijación de metas,
estableciendo objetivos claros y manejables, según cada
individuo.</p>
<br>
<h2>Después de la consulta</h2>

<p>Una semana después de tu consulta recibirás un email de
seguimiento y documentos incluyendo tu programa nutricional,
un informe de tu caso, una receta de suplementos,
recomendaciones de pruebas de laboratorio (en el caso que
sea necesario) e instrucciones en cómo proceder con las
pruebas.</p>

<h2>Consulta de Seguimiento</h2>

<p>Las consultas de seguimiento comienzan con una revisión de
la evolución de tu programa terapeútico, una conversación
sobre los cambios experimentados desde la primera consulta
y una valoración de los resultados de las pruebas. Tu
terapeuta evaluará tus planes nutricionales, tus metas y
estrategias y actualizará tu programa. Las consultas de
seguimiento te proporcionarán la oportunidad de valorar los
diferentes aspectos de tu salud y bienestar.</p>
r>
<p>En el caso que la persona tenga dificultad siguiendo la dieta
y los cambios en el estilo de vida, en las sesiones de
seguimiento se le prestará mas atención al elemento de
coaching nutricional y de salud, según Técnicas de
programación lingüística y neuroplasticidad.</p>

<h2>Precios</h2>

<p>Primera consulta 60e, Consultas de seguimiento 40e</p
  >
<%= link_to 'Rellenar Cuestionario', new_formulario_path, class:"btn btn-info btn-lg" %>
