<h1>El tratamiento</h1><br>


<p>• <span class=brown_text>Varias agujas muy finas son insertadas</span>. Algunas en zonas distales y
otras en el rostro y cuello.</p><br>

<p>• <span class=brown_text>Se aplica una breve técnica osteopática craneal</span> que sirve para quitar
posibles tensiones en la zona del cuello, cabeza y rostro. Esta técnica
es muy suave pero profundamente relajante.</p><br>

<p>• <span class=brown_text>Las agujas permanecen insertadas por un periodo de aproximadamente 30
minutos</span> mientras que el paciente puede relajarse y disfrutar de la terapia.</p><br>

<p>• <span class=brown_text>Se retiran las agujas y se aplica un sérum,
   rodillos de jade y piedras de gua sha que complementan el proceso
   previo, facilitando la circulación de la sangre en la zona.</p> <br>

<p>• <span class=brown_text>Para finalizar se aplica una loción y se
   da un masaje facial que tiene como fin estimular aún más la
    producción de colágeno, elastina y ácido hialurónico natural
    y promover el drenaje linfático de la zona del rostro.</p>

<h2>¿Cuántas Sesiones son Necesarias?</h2><br>

<p>  Los efectos de la
  acupuntura cosmética son acumulativos, por lo tanto,
  los resultados óptimos se consiguen tras varias sesiones de tratamiento.
  Después de la primera sesión la mayoría de las personas experimentan
  una mayor tonificación, más vitalidad en el rostro, piel
más suave, más brillo en los ojos y mejor bienestar general. No obstante
los primeros
  resultados notables visibles se perciben entre las 3 y 6 sesiones
  aproximadamente dependiendo de cada paciente. De acuerdo con los
  conocimientos y evidencias de la medicina china y
de la acupuntura, el ciclo óptimo y recomendable consiste en 10
sesiones y se recomienda realizar un mínimo de 1 sesión por semana.
Algunas personas prefieren probarlo realizando una única sesión,
aunque los primeros resultados ya serían visibles, se recomienda
tener un poco de paciencia para lograr los resultados óptimos, como
en todos los procesos naturales.</p>

<p>Después del ciclo de 10 sesiones, un tratamiento de
mantenimiento cada dos meses aproximadamente prolonga los efectos y los
resultados de 5 a 10 años.</p>

<h2>Precios</h2><br>
<p>
Se puede acudir a citas individuales aunque se recomienda hacer un
tratamiento personalizado de más sesiones (hasta 10) por el efecto
acumulativo de esta terapia y para alcanzar los resultados deseados.</p><br>
<br>
</table>
<table class="table">
      <thead>
        <tr>
          <th>Tratamiento</th>
          <th>Precio</th>
          <th>Ahorro</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sesión individual</td>
          <td>40 Euros</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Seis sesiones</td>
          <td>210 Euros</td>
          <td>30 Euros</td>
        </tr>
        <tr>
          <td>Diez sesiones</td>
          <td>350 Euros</td>
          <td>50 Euros</td>
        </tr>
      <tbody>
</table>

<h2>Las Agujas y la Sensación</h2>
<p>
Existen personas que tienen miedo a las agujas porque están acostumbrados
a las agujas de la medicina alopática, cuyas inserciones pueden doler por
el grosor/tamaño de la aguja y porque se insertan directamente en los vasos
sanguíneos lo cual suele provocar molestia. </p>
 <p>Las agujas de acupuntura y sobre todo las de la acupuntura facial no
tienen absolutamente nada que ver con aquellas agujas. Son muy pequeñas
y finas, más finas que un cabello y apenas se notan durante su inserción </p>

<h2>Factores a Tener en Cuenta</h2>
<p>
<!-- • -->
<b>Para la acupuntura cosmética se recomienda acudir a la cita con
  poco maquillaje, en caso de
  ser posible, ya que será necesario limpiar la zona del rostro y
  cuello antes de iniciar el tratamiento. </b><br>
<br>
<b>Se puede recibir acupuntura aunque este tomando medicamentos.</b> <br>
<br><b>Se recomienda esperar un periodo de dos meses antes de
  recibir acupuntura estética después de acudir a métodos como
  el bótox, rellenos,
  peelings químicos, cirugía...</b> <br><br>

<h2>Contraindicaciones</h2><br>
<p>No se recomienda la acupuntura en casos de:<br><br>

Migrañas fuertes y continuas<br>
Embarazos<br>
Hemofilia<br>
Presión arterial muy alta<br>
Personas que tengan puesto un marcapasos en el corazón<br>
Personas que hayan tomado anticoagulantes<br>
Problemas con la glándula pituitaria<br>
Tumores Malignos<br>
Epilepsia<br></p>
