<h1>Tratamiento</h1>

<p><b>La primera sesión</b>: duración aproximada de una hora y
cuarto. Las siguientes sesiones durarán 1 hora.</p>
<p>Además de averiguar el motivo de su consulta, es imprescindible
conocer cualquier condición subyacente actual o pasada ya sea de
 aspecto físico, mental o emocional, por lo tanto, se realiza una
  historia médica detallada basada en métodos diagnósticos y la
   etiología de la MTC. </p>

<p><b>Los aspectos fundamentales del proceso diagnóstico en MC son:</b></p>
<p>
•	Historia clínica detallada<br>
•	Observación, toma de pulsos y palpación de los meridianos.<br>
•	Diagnóstico clínico de la condición/desorden</p>

<h2>Tarifas</h2>

<p>Las sesiones necesarias dependen del individuo y del estado de la
desorden a tratar, no obstante, para la gran mayoría de condiciones
y lesiones se suele notar una mejora o alivio de las síntomas tras
una sesión, sobre todo a nivel de dolor ya que uno de los mecanismos
del funcionamiento de la acupuntura es a través de sus propiedades
sedantes y la liberación de endorfinas.</p>

</table>
<table class="table">
      <thead>
        <tr>
          <th>Tratamiento</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Primera sesión</td>
        <td>40 Euros</td>
        </tr>
        <tr>
            <td>Siguientes sesiones</td>
          <td>35 Euros</td>

        </tr>
      <tbody>
</table>

<h2>Las Agujas y la Sensación</h2>
<p>
Existen personas que tienen miedo a las agujas porque están acostumbrados
a las agujas de la medicina alopática, cuyas inserciones pueden doler por
el grosor/tamaño de la aguja y porque se insertan directamente en los vasos
sanguíneos lo cual suele provocar molestia. </p>
 <p>Las agujas de acupuntura y sobre todo las de la acupuntura facial no
tienen absolutamente nada que ver con aquellas agujas. Son muy pequeñas
y finas, más finas que un cabello y apenas se notan durante su inserción </p>

<h2>Factores a Tener en Cuenta</h2>
<p>
• <b>Para la acupuntura cosmética se recomienda acudir a la cita con
  poco maquillaje, en caso de
  ser posible, ya que será necesario limpiar la zona del rostro y
  cuello antes de iniciar el tratamiento. </b><br>
<br>
• <b>Se puede recibir acupuntura aunque este tomando medicamentos.</b> <br>
<br>
• <b>Se recomienda esperar un periodo de dos meses antes de recibir
  acupuntura después de acudir a métodos como el bótox, rellenos,
  peelings químicos, cirugía...</b> <br><br>

<h2>Contraindicaciones</h2><br>
<p>No se recomienda la acupuntura en casos de:<br><br>

• Migrañas fuertes y continuas<br>
• Embarazos<br>
• Hemofilia<br>
• Presión arterial muy alta<br>
•	Personas que tengan puesto un marcapasos en el corazón<br>
•	Personas que hayan tomado anticoagulantes<br>
•	Problemas con la glándula pituitaria<br>
•	Tumores Malignos<br>
•	Epilepsia<br></p>
