<%= render :partial => "layouts/carousel" %>

<h1 class="home-title"><b>Servicios de Nutrición Clínica y Terapia Nutricional,
   de Acupuntura y Acupuntura Estética Facial</b></h1>

  <h2 class="home-subtitle" style="text-align: center"> en la tienda ecológica-

   Eslaveco del Polígono Pisa</h2>
   <br>
<br><br><br>

<br><br>
<%= link_to 'https://www.ifm.org/' do %>
  <%= image_tag 'functional-med.png', class:"nutricion" %>
<% end %>
