<div class="precios">

<h1>Servicio de Consultas en ESLAVECO</h1>
<!-- <%= image_tag 'functional-med.png', class:"nutricion2" %> -->

<br>
<h2>Terapia Nutricional</h2>

<p>Primera Consulta ................... 60euros   (Duración 1h30)</p>
<p>Consultas de Seguimiento...... 40euros   (Duración 1h)</p>

<h2>Acupuntura</h2>

<p>Primera Consulta .................... 40euros    (Duración 1h15)</p>
<p>Consultas de Seguimiento ...... 35euros    (Duración 1h)</p>

<h2>Combinación de Nutrición y Acupuntura</h2>

<p>Primera Consulta..................... 80euros   (Duración 2h)</p>
<p>Consultas de Seguimiento....... 60euros   (Duración 1h30)</p>

<h2>Acupuntura Estética</h2>
<p>...................................................... 40euros    (Duración 1h15)</p>
<p><b>(Descuentos disponibles para paquetes)</b></p>
<br>
<p><span style="font-size: 30px">Citas: 660 503 073 <span style="float:right">www.terapianutricional.net</span></span></p>
</div>
