<h1>Sobre Mi</h1>

<%=image_tag("sobre-mi-b&w.jpg", class:"nutricion3") %>


<p>Soy Neil McGrath, originario de Irlanda pero llevo 20 años viviendo en Sevilla.
Me licencié por la Universidad de Dublín (UCD) en idiomas en 1999.
Trabajé como traductor e intérprete hasta que por una lesión
crónica decidí cambiar el rumbo de mi vida.</p>



<p>Embarqué el cambio estudiando un Masters (MOst) en Osteopatía
 en la reconocida 'European School of Osteopathy' de Londres.
Es entonces cuando empecé a utilizar agujas por primera vez para
tratar dolores músculo-esqueléticos.</p>


<p>
Esto me llevó a ampliar mis conocimientos terapéuticos estudiando
 Acupuntura y Medicina Tradicional China. Me gradué en MTC y
  Acupuntura tanto aquí en España, como en Irlanda.</p>
<p>
Posteriormente, he realizado un Masters en Nutrición Personalizada
por CNELM (Universidad de Middlesex, Londres), referente a nivel
 mundial en Nutrición Clínica y Terapia Nutricional, y afiliada
 al Instituto de Medicina Funcional.</p>

<p>Soy miembro del ‘Institute of Functional Medicine’, ‘BANT’
 (Asociación de Terapeutas Nutricionales de Gran Bretaña),
 y ‘The Royal Society of Medicine’.  Actualmente, sigo asistiendo a seminarios de Nutrición
Clínica y Medicina Funcional para poder estar al día de
los estudios científicos mas recientes.</p>
<br><br>
