
body {
    background-image:image-url('gotita.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: 0 51px;
}

.container2 {
  margin: 0px;
  background-color: transparent;
  background:rgba(0,0,0,0);
}

main {
  background-color: transparent;
  margin-top: 200px;
  padding-left: 200px;
  padding-right: 200px;
}

.navbar {
 margin-bottom: 50px;
}
h1 {
  font-family: 'Architects Daughter';
  color: blue;
}
p {
  font-family: 'Architects Daughter';
  font-size: 20px;
  // text-shadow: 4px 4px 4px #aaa;
}

.great-vibes {
  font-family: 'Great Vibes', cursive;
}
