
body {
//     background-image:image-url('gotita.png');
//     background-size: auto;
//     background-repeat: repeat-x;
//     background-position: 0 51px;
// background-color: transparent;
background:rgba(191,191,191,1);
// background: linear-gradient(to bottom right, rgba(185,185,185,1), rgba(195,195,195,1), rgba(210,210,210,1) )
// background: linear-gradient(to right, rgba(190,190,190,1), rgba(196,196,196,1), rgba(190,190,190,1), rgba(190,190,190,1));
background: linear-gradient(to right, rgba(185,185,185,1), rgba(197,197,197,1), rgba(199,199,199,1),rgba(180,180,180,1), rgba(190,190,190,1));

}

.container2 {
  margin: 0px;
  background-color: transparent;
  // background: linear-gradient(blue, pink);
  // background:rgba(0,0,0,0);
}

main {
  background-image:image-url('gotita-flip.png');
  background-size: 100% auto;
  background-position: 0 0px;
  // background-repeat: repeat-x;
  // background: linear-gradient(blue, pink);
  background-color: transparent;
  // background:rgba(199,199,199,1);
  margin-top: 51px;
  padding-left: 200px;
  padding-right: 200px;
  border-top: 200px;
}



.navbar {
 margin-bottom: 50px;
 color: lightblue;
}
h1 {
  // font-family: 'Architects Daughter';
  font-family: 'Tillana', cursive;
  color: #5bc0de;
  margin-top: 160px;
}

.home-title {
  // font-family: 'Architects Daughter';
  font-family: 'Tillana', cursive;
  color: #5bc0de;
  margin-top: 160px;
  text-align: center;
}

h2 {
  // font-family: 'Architects Daughter';
  font-family: 'Tillana', cursive;
  color: #5bc0de;
  // margin-top: 130px;
}

p {
  font-family: 'Tillana', cursive;
  // font-family: 'Architects Daughter';
  font-size: 20px;
}

.great-vibes {
  font-family: 'Great Vibes', cursive;
}

// functional med logo on home page
.nutricion {
  float: left;
  // padding-bottom: 100px;
  margin-left: 10px;
  // border-bottom: 100px;
  border: 5px  #fff;
  box-shadow: 10px 10px 5px #888888;
  // border-radius: 5%;
  height: 45%;
    width: 45%;
}

.nutricion2 {
  float: right;
  // padding-bottom: 100px;
  margin-left: 20px;
  // border-bottom: 300px;
  border: 5px  #fff;
  box-shadow: 10px 10px 5px #888888;
  // border-radius: 5%;
  height: 45%;
    width: 45%;
}
// medicina funcional pic
.nutricion3 {
  float: right;
  // padding-bottom: 100px;
  margin-left: 10px;
  // border-bottom: 100px;
  border: 5px  #fff;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 5%;
  height: 45%;
    width: 45%;
}
.style_image6 {
  border: 5px double #3A6028;
  box-shadow: 10px 10px 5px #888888;
  // border-radius: 5%;
  float: center;
  display: block;
  margin: auto;
  width: 60%;
  margin-bottom: 50px;
}

.style_image4 {
  border: 5px double #5bc0de;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 8%;
  float: right;
  // padding: 10px;
  display: block;
  margin: 20px 20px 20px 20px;
  // width: 40%;
}
 .precios {
   body{
     background-image:image-url('precios.png');
   }

   // background-size: 100% auto;
   // background-position: 0 0px;
   // // background-repeat: repeat-x;
   // // background: linear-gradient(blue, pink);
   // background-color: transparent;
   // // background:rgba(199,199,199,1);
   // margin-top: 51px;
   // padding-left: 200px;
   // padding-right: 200px;
   // border-top: 200px;
   // background-image:image-url('precios.png');
   // background-position: 0 0px;
   // background-size: 100% auto;
 }

.table2{
  th {
    background-color:rgba(66, 203, 244, 0.9);

  }

  tr {
    background-color: lightblue;
    opacity: 0.8;
  }
}

.carousel-inner {
  width: 50%;
  float: right;
  margin-top: 150px;
  margin-left: 30px;
  margin-bottom: 100px;
  box-shadow: 10px 10px 5px #888888;
}
