
body {
//     background-image:image-url('gotita.png');
//     background-size: auto;
//     background-repeat: repeat-x;
//     background-position: 0 51px;
// background-color: transparent;
background:rgba(191,191,191,1);
// background: linear-gradient(to bottom right, rgba(185,185,185,1), rgba(195,195,195,1), rgba(210,210,210,1) )
// background: linear-gradient(to right, rgba(190,190,190,1), rgba(196,196,196,1), rgba(190,190,190,1), rgba(190,190,190,1));
background: linear-gradient(to right, rgba(185,185,185,1), rgba(197,197,197,1), rgba(199,199,199,1),rgba(180,180,180,1), rgba(190,190,190,1));

}

.container2 {
  margin: 0px;
  background-color: transparent;
  // background: linear-gradient(blue, pink);
  // background:rgba(0,0,0,0);
}

main {
  background-image:image-url('gotita-flip2.png');
  background-size: 100% auto;
  background-position: 0 0px;
  // background-repeat: repeat-x;
  // background: linear-gradient(blue, pink);
  background-color: transparent;
  // background:rgba(199,199,199,1);
  // margin-top: 51px;
  margin-top: 0px;
  padding-left: 15%;
  padding-right: 15%;
  border-top: 200px;
}



.navbar {
 margin-bottom: 50px;
 color: lightblue;
}

.navbar-inverse {
  // background-color: #5bc0de;
  background-color: transparent;
  // background: linear-gradient(to right, blue, pink);
  border-color: transparent;
  // #0067af
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1030;
    border-radius: 0;
    top: 0;
    border-width: 0 0 1px;
}

.navbar-inverse .navbar-nav > li > a  {
  color: #65a7b7;
  // color: #a07070;
  // color: #308792;
  font-family: 'Tillana', cursive;
  font-size: 20px;
  &:hover {
    color: lightblue;
    background-color: transparent;
  }
}

.dropdown-menu > li > a {
  color: #65a7b7;
  font-family: 'Tillana', cursive;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}



.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #3d75ce;
}

h1 {
  // font-family: 'Architects Daughter';
  // font-family: 'Tillana', cursive;
    // font-family: 'Great Vibes', cursive;
    font-family: 'Patrick Hand';
  // color: #5bc0de;
  // color: #5bc0de;
  color: #65a7b7;
  margin-top: 170px;
}

.home-title {
  // font-family: 'Architects Daughter';
  font-family: 'Tillana', cursive;
  // color: #5bc0de;
  color: #a3aebd;
  margin-top: 170px;
  text-align: center;
}

.home-subtitle {
  // font-family: 'Architects Daughter';
  // font-family: 'Tillana', cursive;
  font-family: 'Patrick Hand';
  color: #65a7b7;
  // margin-top: 130px;
}

h2 {
  // font-family: 'Architects Daughter';
  // font-family: 'Tillana', cursive;
  font-family: 'Patrick Hand';
  // color: #5bc0de;
  color: #65a7b7;
  // margin-top: 130px;
}

p {
  // font-family: 'Tillana', cursive;
  // font-family: 'Architects Daughter';
  // font-family: 'Forum';
  font-family: 'Patrick Hand';
  // font-family: 'Alegreya Sans', sans-serif;
  // font-family: 'Crimson Text', serif;
  font-size: 20px;
  color: grey;
}

.great-vibes {
  font-family: 'Great Vibes', cursive;
}

// functional med logo on home page
.nutricion {
  float: left;
  // padding-bottom: 100px;
  margin-left: 100px;
  // border-bottom: 100px;
  border: 5px  #fff;
  box-shadow: 10px 10px 5px #888888;
  // border-radius: 5%;
  height: 30%;
    width: 30%;
}

.nutricion2 {
  float: right;
  // padding-bottom: 100px;
  margin-left: 20px;
  // border-bottom: 300px;
  border: 5px  #fff;
  box-shadow: 10px 10px 5px #888888;
  // border-radius: 5%;
  height: 45%;
    width: 45%;
}
// medicina funcional pic
.nutricion3 {
  float: right;
  // padding-bottom: 100px;
  margin-left: 10px;
  margin-bottom: 20px;
  // border-bottom: 100px;
  border: 5px  #fff;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 5%;
  height: 45%;
    width: 45%;
}


.style_image6 {
  border: 5px double #3A6028;
  box-shadow: 10px 10px 5px #888888;
  // border-radius: 5%;
  float: center;
  display: block;
  margin: auto;
  width: 60%;
  margin-bottom: 50px;
}

.style_image4 {
  border: 5px double #5bc0de;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 8%;
  float: right;
  // padding: 10px;
  display: block;
  margin: 20px 20px 20px 20px;
  // width: 40%;
}
 .precios {
   body{
     background-image:image-url('precios.png');
   }

   // background-size: 100% auto;
   // background-position: 0 0px;
   // // background-repeat: repeat-x;
   // // background: linear-gradient(blue, pink);
   // background-color: transparent;
   // // background:rgba(199,199,199,1);
   // margin-top: 51px;
   // padding-left: 200px;
   // padding-right: 200px;
   // border-top: 200px;
   // background-image:image-url('precios.png');
   // background-position: 0 0px;
   // background-size: 100% auto;
 }



.table{
  td, tr {
    font-family: 'Patrick Hand';
    font-size: 20px
  }
}



.carousel-inner {
  width: 50%;
  float: right;
  margin-top: 150px;
  margin-left: 30px;
  margin-bottom: 100px;
  box-shadow: 10px 10px 5px #888888;
}

.quote {
  float: right;
  text-align: center;
  width: 150px;
    // border: 5px solid green;
    padding: 25px;
    margin: 25px;
    margin-top: 500px;
      font-family: 'Patrick Hand';
      font-size: 26px;
}

.quote1 {
  font-family: 'Patrick Hand';
  font-size: 40px;
    float: right;
      width: 300px;
      margin-right: 100px;
      text-align: center;
        color: #65a7b7;
}

.quote2 {
  font-family: 'Patrick Hand';
  font-size: 34px;
  // width: 600px;
  margin: auto;
  text-align: center;
  color: #65a7b7;
}

.quote3 {
  font-family: 'Patrick Hand';
  font-size: 34px;
  // width: 1000px;
  margin: auto;
  text-align: center;
  color: #65a7b7;
}

.tree {
  display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 50px;
  // padding-bottom: 100px;
  // margin-left: 10px;
  // border-bottom: 100px;
  border: 5px  #fff;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 5%;
  height: 80%;
    width: 80%;
}

.tree-quote {
  // width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-family: 'Patrick Hand';
  // float: left;
  font-size: 26px;
  text-align: center;

  // margin-right: 600px;
}
