<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Skankometer', page_path('page1') %></li>
<li><%= link_to 'Page2', page_path('page2') %></li>
<li><%= link_to 'Contacto', page_path('contacto') %></li>
